<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Barra de progreso</h5>
                <div class="progress m-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValueNow]="porcentaje1" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 + '%'"></div>
                </div>
                <div class="progress m-3">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValueNow]="porcentaje2" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser nombre="Progress azul" [porcentaje]="porcentaje1" (cambioValor)="porcentaje1 = $event"></app-increaser>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser nombre="Progress verde" [porcentaje]="porcentaje2" (cambioValor)="porcentaje2 = $event"></app-increaser>
            </div>
        </div>
    </div>
</div>