<div class="row animated fadeIn">
    <div class="col-12 ">
        <div class="card ">
            <div class="card-body ">
                <input #input (keyup)="buscarUsuario(input.value)" type="text " name=" " id=" " class="form-control " placeholder="Buscar usuario... ">
            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center" role="alert">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <strong>Espere por favor</strong>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Usuarios registrados (<small>{{ totalReg }}</small>)</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Auth</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of usuarios">
                            <td class="w70"><img [src]=" u.img | imagen " class="img-circle w50"> </td>
                            <td>{{ u.email}}</td>
                            <td>
                                <select [(ngModel)]="u.role" name="role" class="form-control">
                                    <option value="ADMIN_ROLE" >ADMIN_ROLE</option>
                                    <option value="USER_ROLE" >USER_ROLE</option>
                                </select>
                            </td>
                            <td>
                                <label *ngIf="u.google" class="label label-danger">Google</label>
                                <label *ngIf="!u.google" class="label label-info">Normal</label>
                            </td>
                            <td></td>
                            <td>
                                <button (click)="actualizarUsuario(u)" type="button" class="btn btn-primary"><i class="fa fa-save"></i></button>&nbsp;
                                <button (click)="borrarUsuario(u)" type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>

                    </tbody>

                </table>
                <button type="button" class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>&nbsp;
                <button type="button" class="btn btn-secondary" (click)="cambiarDesde(5)">Siguientes</button>

            </div>
        </div>
    </div>
</div>